.screen {
  height: 100vh; 
  width: 100vw;
  
  overflow: hidden; 
  
  background: linear-gradient(rgba(93, 198, 227, 0.2), rgba(93, 198, 227, 0.2)), 
            url('/background.png') no-repeat center / cover;
  background-color: #5DC6E3;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* עוזר בסידור האלמנטים מלמעלה למטה */
  
  padding: 5vh 5vw; 
  box-sizing: border-box;
  position: fixed; 
  top: 0;
  left: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 100vh; /* תופס את כל גובה המסך */
  padding: 0 20px;  
}
.illustrationBox {
    position: relative;
    width: 100%;
    max-width: 300px;
    /* שואף ל-132px, אבל מתכווץ במסכים קצרים */
    aspect-ratio: 1 / 1; /* שומר על ריבוע לתמונה */
    margin-top: clamp(60px, 15vh, 132px);
    width: 166px;
    height: 166;


}

.contentWrapper {
    margin-top: clamp(20px, 5vh, 32px);
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.subTitle {
  font-family: 'SouthFont', sans-serif; 
  font-size: clamp(28px, 8vw, 38px);
  font-weight: 600;
  color: #000;
  margin: 0;
}
.description {
    color: #000;
    text-align: center;
    font-family: "Narkssim";
    font-size: clamp(20px, 5.5vw, 26px);
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
    width: 95%;
    max-width: 325px;
    margin: 0 auto;
    margin-top: clamp(6px, 1.5vh, 8px);
}



/* כפתור "הבנתי" */
.understandButton {
    border-radius: 0 0 24px 24px;
    border-right: 3px solid  #000;
    border-bottom: 3px solid #000;
    background: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;

    width: 90%;
    max-width: 375px;
    height: clamp(80px, 15vh, 126px);
    
    margin: 0 auto;
    margin-top: clamp(40px, 15vh, 169px);
    margin-bottom: 20px;
    
    
    
    color: #000;
    font-family: SouthFont;
    font-size: clamp(28px, 8vw, 40px);
    font-weight: 500;
    line-height: 1;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.understandButton:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 0px #000;
}