.container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
}
.illustrationBox {
  width: 200px;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* נחוץ עבור ה-fill של Image */
  overflow: hidden;   /* שומר שהתמונה לא תצא מהגבולות */
}

.mainImage {
  object-fit: cover; /* מבטיח שהתמונה תמלא את הריבוע מבלי להתעוות */
}


.crossContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crossLines {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    stroke: #776D6D;
    stroke-width: 1;
}

.illustrationText {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    z-index: 1;
}

/* טקסט ההסבר */
.contentWrapper {
    width: 375px;
}

.description {
    color: var(--Dark_blue_text, #114081);
    text-align: center;

    font-family: "Narkssim", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.78px;
}



/* כפתור "הבנתי" */
.understandButton {
    border-radius: 0 0 24px 24px;
    border-right: 3px solid var(--Dark_blue_text, #114081);
    border-bottom: 3px solid var(--Dark_blue_text, #114081);
    background: var(--Background_color, #FFF9EC);
    display: flex;
    width: 375px;
    height: 126px;
    padding: 37px 61px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Dark_blue_text, #114081);
    text-align: center;

    /* big-buttoms */
    font-family: SouthFont, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
}

.understandButton:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 0px #000;
}